/* @media only screen and (max-width: 754px) {
    .background {
        background-color: #c0dbcb;
        position: absolute;
        height: 50vh;
        width: 50%;
        top: 700px;
        right: 0;
        z-index: -100;
    
    }

  
  } */

body {
    /* border: solid;
    border-color: red; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: 11pt;
    line-height: 18pt;
    margin: 0;
}

.navigation {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  padding-top: 30px;
  border: 2px solid #4CAF50;
    z-index: 101; 
    text-align: center;
 
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    display:inline-block;
    padding: 20px;
}

h1 {
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h4 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 10px; 
}

.intro {
    padding-top: 100px;
}

.intro-row {
    margin-top: 10%;
    margin-bottom: 50px;
    /* border: solid;
    border-color: red; */
    padding-bottom: 30px;
}

ul li::before {
    color: red;
}

.container-fluid {
    position: relative;
    margin-top: 13%;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 button {
     background-color: black;
     color: white;
     border: none; 
     padding: 6px;
     padding-left: 12px;
     padding-right: 12px; 
     font-size: 11pt;
 }

.col-md-6 {
    /* border: solid;
    border-color: blue; */
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 5%;
  
}

.col-md-12 {
    padding-top: 20px;
    padding-left:5%;
    padding-right: 5%;
}

.col-md-4 , .col-md-8 {
    padding-top: 20px;
    padding-left:5%;
    padding-right: 5%;
    /* border: solid;
    border-color: red; */
}

.section-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.projectrow-color {
    /* background-color: beige; */
    padding-bottom: 30px;
    margin-top: 70px;
    width: 100%;
}

.row {
    position: relative;
}

.background {
    background-color: #c0dbcb;
    position: absolute;
    height: 70vh;
    width: 100%;
    z-index: -100;
    top:0;

}

.experience {
    background-color: lightblue;
}

.footer {
    background-color: #c0dbcb;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 20px;
}

a {
    color: black !important;
  }

  a:hover {
    color: greenyellow;
  }